In [4]:
import sqlalchemy
from sqlalchemy import create_engine
# engine = create_engine("mysql://dev:dev@samlet/bot?charset=utf8mb4", echo=True)
engine = create_engine("mysql+pymysql://dev:dev@samlet/bot?charset=utf8mb4&&use_unicode=True", echo=False)

In [11]:
import os
db_host=os.getenv('db_host') or 'samlet'
db_host

'samlet'

In [5]:
import pandas as pd
query =query = "select * from hotel"
df = pd.read_sql_query(query, engine)
df

,id,name,city,price_range,breakfast_included,free_wifi,swimming_pool,star_rating
0,1,Hilton,Berlin,expensive,1,1,1,5
1,2,Hilton,Frankfurt am Main,expensive,1,1,0,4
2,3,B&B,Berlin,mid-range,0,0,0,1
3,4,Berlin Wall Hostel,Berlin,cheap,0,1,0,2
4,5,City Hotel,Frankfurt am Main,expensive,1,1,0,3
5,6,Jugendherberge,Berlin,cheap,1,0,0,2
6,7,Berlin Hotel,Berlin,mid-range,1,1,1,3

In [7]:
import json
json.loads(df.to_json(orient='records'))

[{'id': 1,
  'name': 'Hilton',
  'city': 'Berlin',
  'price_range': 'expensive',
  'breakfast_included': 1,
  'free_wifi': 1,
  'swimming_pool': 1,
  'star_rating': 5},
 {'id': 2,
  'name': 'Hilton',
  'city': 'Frankfurt am Main',
  'price_range': 'expensive',
  'breakfast_included': 1,
  'free_wifi': 1,
  'swimming_pool': 0,
  'star_rating': 4},
 {'id': 3,
  'name': 'B&B',
  'city': 'Berlin',
  'price_range': 'mid-range',
  'breakfast_included': 0,
  'free_wifi': 0,
  'swimming_pool': 0,
  'star_rating': 1},
 {'id': 4,
  'name': 'Berlin Wall Hostel',
  'city': 'Berlin',
  'price_range': 'cheap',
  'breakfast_included': 0,
  'free_wifi': 1,
  'swimming_pool': 0,
  'star_rating': 2},
 {'id': 5,
  'name': 'City Hotel',
  'city': 'Frankfurt am Main',
  'price_range': 'expensive',
  'breakfast_included': 1,
  'free_wifi': 1,
  'swimming_pool': 0,
  'star_rating': 3},
 {'id': 6,
  'name': 'Jugendherberge',
  'city': 'Berlin',
  'price_range': 'cheap',
  'breakfast_included': 1,
  'free_wifi': 0,
  'swimming_pool': 0,
  'star_rating': 2},
 {'id': 7,
  'name': 'Berlin Hotel',
  'city': 'Berlin',
  'price_range': 'mid-range',
  'breakfast_included': 1,
  'free_wifi': 1,
  'swimming_pool': 1,
  'star_rating': 3}]

In [ ]:
from sqlalchemy import Table, Column, Integer, String, Boolean, MetaData, ForeignKey
metadata = MetaData()
users = Table('users', metadata,
    Column('id', Integer, primary_key=True),
    Column('name', String(length=50)),
    Column('fullname', String(length=50)),
)

addresses = Table('addresses', metadata,
    Column('id', Integer, primary_key=True),
    Column('user_id', None, ForeignKey('users.id')),
    Column('email_address', String(length=50), nullable=False)
 )

restaurant = Table('restaurant', metadata,
    Column('id', Integer, primary_key=True),
    Column('name', String(length=50)),
    Column('cuisine', String(length=50)),
    Column('price_range', String(length=50)),
    Column('outside_seating', Boolean),
)

hotel = Table('hotel', metadata,
    Column('id', Integer, primary_key=True),
    Column('name', String(length=50)),
    Column('city', String(length=50)),
    Column('price_range', String(length=50)),
    Column('breakfast_included', Boolean),
    Column('free_wifi', Boolean),
    Column('swimming_pool', Boolean),
    Column('star_rating', Integer),
)

metadata.drop_all(engine)  # drop all tables
metadata.create_all(engine)

In [9]:
ins = users.insert()
conn.execute(ins, id=1, name='jack', fullname='Jack')
conn.execute(ins, id=2, name='wendy', fullname='Wendy Williams')

2020-01-07 16:27:54,464 INFO sqlalchemy.engine.base.Engine INSERT INTO users (id, name, fullname) VALUES (%s, %s, %s)
2020-01-07 16:27:54,468 INFO sqlalchemy.engine.base.Engine (1, 'jack', 'Jack')
2020-01-07 16:27:54,483 INFO sqlalchemy.engine.base.Engine COMMIT
2020-01-07 16:27:54,499 INFO sqlalchemy.engine.base.Engine INSERT INTO users (id, name, fullname) VALUES (%s, %s, %s)
2020-01-07 16:27:54,500 INFO sqlalchemy.engine.base.Engine (2, 'wendy', 'Wendy Williams')
2020-01-07 16:27:54,518 INFO sqlalchemy.engine.base.Engine COMMIT

In [10]:
conn = engine.connect()
conn.execute(addresses.insert(), [
   {'user_id': 1, 'email_address' : 'jack@yahoo.com'},
   {'user_id': 1, 'email_address' : 'jack@msn.com'},
   {'user_id': 2, 'email_address' : 'www@www.org'},
   {'user_id': 2, 'email_address' : 'wendy@aol.com'},
])

2020-01-07 16:27:56,924 INFO sqlalchemy.engine.base.Engine INSERT INTO addresses (user_id, email_address) VALUES (%s, %s)
2020-01-07 16:27:56,925 INFO sqlalchemy.engine.base.Engine ((1, 'jack@yahoo.com'), (1, 'jack@msn.com'), (2, 'www@www.org'), (2, 'wendy@aol.com'))
2020-01-07 16:27:56,943 INFO sqlalchemy.engine.base.Engine COMMIT

In [12]:
from sqlalchemy.sql import select
s = select([users.c.name, users.c.fullname])
result = conn.execute(s)
for row in result:
    print(row)

2020-01-07 16:29:06,408 INFO sqlalchemy.engine.base.Engine SELECT users.name, users.fullname
FROM users
2020-01-07 16:29:06,411 INFO sqlalchemy.engine.base.Engine ()
('jack', 'Jack')
('wendy', 'Wendy Williams')

In [15]:
import json_utils
dataset=json_utils.read_json_file('knowledge_base_data.json')
print(dataset.keys())
dataset

dict_keys(['restaurant', 'hotel'])

{'restaurant': [{'id': 0,
   'name': 'Donath',
   'cuisine': 'Italian',
   'outside-seating': True,
   'price-range': 'mid-range'},
  {'id': 1,
   'name': 'Berlin Burrito Company',
   'cuisine': 'Mexican',
   'outside-seating': False,
   'price-range': 'cheap'},
  {'id': 2,
   'name': 'I due forni',
   'cuisine': 'Italian',
   'outside-seating': True,
   'price-range': 'mid-range'},
  {'id': 3,
   'name': 'Lụa Restaurant',
   'cuisine': 'Vietnamese',
   'outside-seating': True,
   'price-range': 'cheap'},
  {'id': 4,
   'name': 'Pfefferberg',
   'cuisine': 'German',
   'outside-seating': True,
   'price-range': 'mid-range'},
  {'id': 5,
   'name': 'Marubi Ramen',
   'cuisine': 'Japanese',
   'outside-seating': False,
   'price-range': 'cheap'},
  {'id': 6,
   'name': 'Gong Gan',
   'cuisine': 'Korean',
   'outside-seating': True,
   'price-range': 'cheap'}],
 'hotel': [{'id': 0,
   'name': 'Hilton',
   'price-range': 'expensive',
   'breakfast-included': True,
   'city': 'Berlin',
   'free-wifi': True,
   'star-rating': 5,
   'swimming-pool': True},
  {'id': 1,
   'name': 'Hilton',
   'price-range': 'expensive',
   'breakfast-included': True,
   'city': 'Frankfurt am Main',
   'free-wifi': True,
   'star-rating': 4,
   'swimming-pool': False},
  {'id': 2,
   'name': 'B&B',
   'price-range': 'mid-range',
   'breakfast-included': False,
   'city': 'Berlin',
   'free-wifi': False,
   'star-rating': 1,
   'swimming-pool': False},
  {'id': 3,
   'name': 'Berlin Wall Hostel',
   'price-range': 'cheap',
   'breakfast-included': False,
   'city': 'Berlin',
   'free-wifi': True,
   'star-rating': 2,
   'swimming-pool': False},
  {'id': 4,
   'name': 'City Hotel',
   'price-range': 'expensive',
   'breakfast-included': True,
   'city': 'Frankfurt am Main',
   'free-wifi': True,
   'star-rating': 3,
   'swimming-pool': False},
  {'id': 5,
   'name': 'Jugendherberge',
   'price-range': 'cheap',
   'breakfast-included': True,
   'city': 'Berlin',
   'free-wifi': False,
   'star-rating': 2,
   'swimming-pool': False},
  {'id': 6,
   'name': 'Berlin Hotel',
   'price-range': 'mid-range',
   'breakfast-included': True,
   'city': 'Berlin',
   'free-wifi': True,
   'star-rating': 3,
   'swimming-pool': True}]}