In [8]:
from sagas.ofbiz.services import OfService as s, MetaService
from sagas.ofbiz.entities import OfEntity as e, oc, finder, MetaEntity
import sagas.ofbiz.entities as ee

s('meta').testScv

,description,entity name,internal,mode,name,override optional,required,type,parameter mode
0,,,,IN,defaultValue,*,,Double,IN
1,,,,IN,message,*,,String,IN
2,,,,OUT,resp,*,*,String,OUT

In [32]:
s('meta').createPerson

,description,entity name,internal,mode,name,override optional,required,type,parameter mode
0,None,Person,,IN,partyId,*,,String,IN
1,None,Person,,OUT,partyId,*,*,String,OUT
2,None,Person,,IN,salutation,*,,String,IN
3,None,Person,,IN,firstName,*,,String,IN
4,None,Person,,IN,middleName,*,,String,IN
5,None,Person,,IN,lastName,*,,String,IN
6,None,Person,,IN,personalTitle,*,,String,IN
7,None,Person,,IN,suffix,*,,String,IN
8,None,Person,,IN,nickname,*,,String,IN
9,None,Person,,IN,firstNameLocal,*,,String,IN
10,None,Person,,IN,middleNameLocal,*,,String,IN
11,None,Person,,IN,lastNameLocal,*,,String,IN
12,None,Person,,IN,otherLocal,*,,String,IN
13,None,Person,,IN,memberId,*,,String,IN
14,None,Person,,IN,gender,*,,String,IN
15,None,Person,,IN,birthDate,*,,java.sql.Date,IN
16,None,Person,,IN,deceasedDate,*,,java.sql.Date,IN
17,None,Person,,IN,height,*,,Double,IN
18,None,Person,,IN,weight,*,,Double,IN
19,None,Person,,IN,mothersMaidenName,*,,String,IN
20,None,Person,,IN,maritalStatus,*,,String,IN
21,None,Person,,IN,socialSecurityNumber,*,,String,IN
22,None,Person,,IN,passportNumber,*,,String,IN
23,None,Person,,IN,passportExpireDate,*,,java.sql.Date,IN
24,None,Person,,IN,totalYearsWorkExperience,*,,Double,IN
25,None,Person,,IN,comments,*,,String,IN
26,None,Person,,IN,employmentStatusEnumId,*,,String,IN
27,None,Person,,IN,residenceStatusEnumId,*,,String,IN
28,None,Person,,IN,occupation,*,,String,IN
29,None,Person,,IN,yearsWithEmployer,*,,Long,IN
30,None,Person,,IN,monthsWithEmployer,*,,Long,IN
31,None,Person,,IN,existingCustomer,*,,String,IN
32,None,Person,,IN,cardId,*,,String,IN
33,,Person,,IN,preferredCurrencyUomId,*,,String,IN
34,,Person,,IN,description,*,,String,IN
35,,Person,,IN,externalId,*,,String,IN
36,,Person,,IN,statusId,*,,String,IN

In [48]:
model=MetaService('testScv').model
def_ent=get_field(model,'defaultEntityName')
print(def_ent=="")

True

In [45]:
model=MetaService('createPerson').model
def_ent=get_field(model,'defaultEntityName')

# externalId
par=model.getParam('externalId')
print(par)
ref_ent=get_field(par, "entityName")
print(ref_ent)
in_pars=model.getInModelParamList()

entity_name='Person'
ent = oc.delegator.getModelEntity(entity_name)
fields = ent.getAllFieldNames()
print(fields)
print(ref_ent in fields)

for param in in_pars:
    p_name=get_field(param, "name")
    internal=get_field(param, "internal")
    if p_name not in fields and not internal:
        print('*', p_name)

externalId::String::IN::null::Person::externalId::::::true::false::true::false::none::null::false
Person
['yearsWithEmployer', 'lastName', 'occupation', 'gender', 'employmentStatusEnumId', 'socialSecurityNumber', 'createdStamp', 'suffix', 'mothersMaidenName', 'middleNameLocal', 'existingCustomer', 'residenceStatusEnumId', 'nickname', 'partyId', 'memberId', 'height', 'passportNumber', 'lastUpdatedStamp', 'lastNameLocal', 'comments', 'monthsWithEmployer', 'createdTxStamp', 'weight', 'lastUpdatedTxStamp', 'birthDate', 'otherLocal', 'firstName', 'cardId', 'middleName', 'firstNameLocal', 'passportExpireDate', 'salutation', 'personalTitle', 'deceasedDate', 'totalYearsWorkExperience', 'maritalStatus']
False
* preferredCurrencyUomId
* description
* externalId
* statusId

In [37]:
e('meta').Person

   internal                      name primary            type      field type
0                             partyId       *              id              id
1                          salutation                    name            name
2                           firstName                    name            name
3                          middleName                    name            name
4                            lastName                    name            name
5                       personalTitle                    name            name
6                              suffix                    name            name
7                            nickname                    name            name
8                      firstNameLocal                    name            name
9                     middleNameLocal                    name            name
10                      lastNameLocal                    name            name
11                         otherLocal                    name            name
12                           memberId                      id              id
13                             gender               indicator       indicator
14                          birthDate                    date            date
15                       deceasedDate                    date            date
16                             height          floating-point  floating-point
17                             weight          floating-point  floating-point
18                  mothersMaidenName            long-varchar    long-varchar
19                      maritalStatus               indicator       indicator
20               socialSecurityNumber            long-varchar    long-varchar
21                     passportNumber            long-varchar    long-varchar
22                 passportExpireDate                    date            date
23           totalYearsWorkExperience          floating-point  floating-point
24                           comments                 comment         comment
25             employmentStatusEnumId                      id              id
26              residenceStatusEnumId                      id              id
27                         occupation                    name            name
28                  yearsWithEmployer                 numeric         numeric
29                 monthsWithEmployer                 numeric         numeric
30                   existingCustomer               indicator       indicator
31                             cardId                 id-long         id-long
32        *          lastUpdatedStamp               date-time       date-time
33        *        lastUpdatedTxStamp               date-time       date-time
34        *              createdStamp               date-time       date-time
35        *            createdTxStamp               date-time       date-time

In [22]:
known_in_types={'String':'String', 
                'java.sql.Date':'DateTime', 
                'java.lang.String':'String',
                'java.sql.Time':'Duration',
                'java.sql.Timestamp':'DateTime',
                'Integer':'int', 
                'Boolean':'bool',
                'java.lang.Boolean':'bool',
                'java.util.TimeZone':'String',
                'GenericPK':'Map<String,dynamic>',
                'Timestamp':'DateTime',
                 # 'java.nio.ByteBuffer',
                'java.math.BigDecimal':'Decimal', 
                'byte[]':'Uint8List',
                'java.lang.Integer':'int', 
                'GenericEntity':'Map<String,dynamic>',
                'GenericValue':'Map<String,dynamic>',
                'java.util.Locale':'String',
                'java.net.URL':'String',
                'BigDecimal':'Decimal', 
                'Double':'double',
                'Long':'int',
                'org.apache.ofbiz.entity.GenericValue':'Map<String,dynamic>'
               }

def get_mapping_type(par_type):
    if par_type in known_in_types:
        return known_in_types[par_type]
    raise ValueError('Cannot support parameter type '+par_type)

print(get_mapping_type('BigDecimal'))

Decimal

In [58]:
from sagas.util.str_converters import to_camel_case, to_snake_case
from py4j.java_gateway import get_field
import clipboard

package_header='''import 'package:sagas_meta/src/models_t/gen_models.dart';
import 'package:meta/meta.dart';
import 'package:sagas_meta/src/result_api.dart';
import 'package:sagas_meta/src/srv_api.dart';

class {package_name}Service{{
  final SrvClient client;
  {package_name}Service(this.client);
'''
package_footer="}"

package_name='common'
lines=[]
lines.append(package_header.format(package_name=to_camel_case(package_name, True)))

def gen_service_stub(lines, name):
    ms=MetaService(name)
    model=ms.model
    def_ent=get_field(model,'defaultEntityName')
    ent_fields=[]
    if def_ent!="":
        ent = oc.delegator.getModelEntity(def_ent)
        ent_fields = ent.getAllFieldNames()
    lines.append('  /// %s - %s'%(get_field(model, 'description'), def_ent))
    params=model.getModelParamList()
    
    invoke_pars=[]
    return_pars=[]
    define_pars=[]
    requires=[]
    
    invoke_ent="null, "
    define_ent=""
    if def_ent!="":
        define_ent="{} {}, ".format(def_ent, 'ent')
        invoke_ent='ent, '
    for param in params:
        mode=get_field(param, "mode")
        fldname=get_field(param, "name")
        fldtype=get_field(param, "type")
        if not get_field(param, "internal"):
            if 'IN' in mode:
                required=not get_field(param, "optional")
                require_mark=""
                if required:
                    requires.append(fldname)
                    require_mark="@required "
                # wrap entity fields into a entity parameter    
                if fldname in ent_fields:
                    pass
                else:                    
                    invoke_pars.append("'{fld}': {fld}".format(fld=fldname))
                    define_pars.append("{mark}{type} {fld}"
                                   .format(fld=fldname, 
                                           mark=require_mark,
                                           type=get_mapping_type(fldtype)))
            if 'OUT' in mode:
                return_pars.append("{fld}[{type}]".format(fld=fldname, type=fldtype))            
    
    lines.append("  /// Requires %s"%', '.join(requires))
    lines.append("  /// Returns %s"%', '.join(return_pars))
    lines.append("  Future<OfResult> %s(%s{%s}) =>"%(name, define_ent, ', '.join(define_pars)))
    lines.append("      client.invoke('{name}', {ent}{{ {invoke_pars} }});"
                 .format(name=name, ent=invoke_ent,
                         invoke_pars=', '.join(invoke_pars)))
    # lines.append('\n')


services=["testScv", 'createPerson', 'quickAddVariant']
for service in services:
    gen_service_stub(lines, service)
    lines.append('')

lines.append(package_footer)

print("\n".join(lines))
clipboard.copy("\n".join(lines))

import 'package:sagas_meta/src/models_t/gen_models.dart';
import 'package:meta/meta.dart';
import 'package:sagas_meta/src/result_api.dart';
import 'package:sagas_meta/src/srv_api.dart';

class CommonService{
  final SrvClient client;
  CommonService(this.client);

  /// Test service -
  /// Requires
  /// Returns resp[String]
  Future<OfResult> testScv({double defaultValue, String message}) =>
      client.invoke('testScv', null, { 'defaultValue': defaultValue, 'message': message });

  /// Create a Person - Person
  /// Requires
  /// Returns partyId[String]
  Future<OfResult> createPerson(Person ent, {String preferredCurrencyUomId, String description, String externalId, String statusId}) =>
      client.invoke('createPerson', ent, { 'preferredCurrencyUomId': preferredCurrencyUomId, 'description': description, 'externalId': externalId, 'statusId': statusId });

  /// Create a new product variant -
  /// Requires productId, productFeatureIds, productVariantId
  /// Returns productVariantId[String]
  Future<OfResult> quickAddVariant({@required String productId, @required String productFeatureIds, @required String productVariantId, int sequenceNum}) =>
      client.invoke('quickAddVariant', null, { 'productId': productId, 'productFeatureIds': productFeatureIds, 'productVariantId': productVariantId, 'sequenceNum': sequenceNum });

}