In [3]:
import pandas as pd
data_path='/pi/ai/nltk/kwn_1.0/kwn_synset_list.tsv'
df = pd.read_csv(data_path, sep='\t')
df.head()

,# synset_id,pos,english_lemmas,korean_lemmas
0,00001740-v,Verb,"breathe, take_a_breath, suspire, respire",호흡하
1,00002325-v,Verb,respire,호흡하
2,00002684-n,Noun,"physical_object, object","물, 놈"
3,00002724-v,Verb,choke,질식하
4,00003553-n,Noun,"whole, unit","전체, 전적, 전부, 총체, 전반"

In [4]:
df[df['korean_lemmas'].str.contains('물')]

,# synset_id,pos,english_lemmas,korean_lemmas
2,00002684-n,Noun,"physical_object, object","물, 놈"
6,00004258-n,Noun,"living_thing, animate_thing",생물
7,00004475-n,Noun,"being, organism","미생물, 생물"
9,00006269-n,Noun,life,생물
13,00007846-n,Noun,"individual, person, mortal, someone, soul, som...","인, 인간, 인물, 사람, 인류"
...,...,...,...,...
9431,15008847-n,Noun,"seawater, saltwater, brine","간수, 식염수, 해수, 소금물, 바닷물"
9432,15009326-n,Noun,"fresh_water, freshwater","단물, 담수, 민물"
9437,15032376-n,Noun,"toxicant, poisonous_substance, poison","독물, 독기, 독, 독소, 독약"
9440,15036916-n,Noun,venom,"독물, 독기, 독"
9443,15046716-n,Noun,soft_water,"연수, 단물"

In [7]:
df[df['# synset_id'].str.match('15032376-n')]

,# synset_id,pos,english_lemmas,korean_lemmas
9437,15032376-n,Noun,"toxicant, poisonous_substance, poison","독물, 독기, 독, 독소, 독약"

In [29]:
def word_def(refid):
    offset, pos = refid.split('-')
    syn = wn.synset_from_pos_and_offset(pos, int(offset))
    return syn
syn=word_def('08829775-n')
print(syn.name(), syn.definition())

saskatchewan.n.01 one of the three prairie provinces in west central Canada

In [27]:
df[df['# synset_id'].str.match('08829775-n')]

Empty DataFrame
Columns: [# synset_id, pos, english_lemmas, korean_lemmas]
Index: []

In [26]:
df[df['korean_lemmas'].str.contains('서스캐처원')]

Empty DataFrame
Columns: [# synset_id, pos, english_lemmas, korean_lemmas]
Index: []

In [10]:
rows=df[df['korean_lemmas'].str.contains('생물')]
rows

,# synset_id,pos,english_lemmas,korean_lemmas
6,00004258-n,Noun,"living_thing, animate_thing",생물
7,00004475-n,Noun,"being, organism","미생물, 생물"
9,00006269-n,Noun,life,생물
14,00015388-n,Noun,"animate_being, brute, animal, creature, fauna,...","미물, 생물, 조수"
1692,01326291-n,Noun,"micro-organism, microorganism",미생물
1714,01384491-n,Noun,"germ, bug, microbe",미생물
5205,06037666-n,Noun,"biological_science, biology","생물학, 생물"
5228,06072275-n,Noun,"entomology, bugology",생물학
5230,06077648-n,Noun,microbiology,미생물학
7704,10260706-n,Noun,life,"생명, 생물, 인생"
8123,11530008-n,Noun,microflora,미생물

In [23]:
from sagas.nlu.transliterations import translits
from nltk.corpus import wordnet as wn

rs=[]
lookups_nor={}
lookups_tra={}
for index, row in rows.iterrows():
    ko_lemmas=row['korean_lemmas'].split(', ')
    refid=row['# synset_id']
    offset, pos = refid.split('-')
    syn = wn.synset_from_pos_and_offset(pos, int(offset))
    rs.append({'id': refid,
               'en': row['english_lemmas'].split(', '), 
               'ko': ko_lemmas,
               'translit': [translits.translit(le, 'ko') for le in ko_lemmas],
               'name': syn.name(),
               'definition': syn.definition()
              })
    for kw in ko_lemmas:
        if kw not in lookups_nor:
            lookups_nor[kw]={syn.name()}
            lookups_tra[translits.translit(kw, 'ko')]={syn.name()}
        else:
            lookups_nor[kw].add(syn.name())
            lookups_tra[translits.translit(kw, 'ko')].add(syn.name())
rs

[{'id': '00004258-n',
  'en': ['living_thing', 'animate_thing'],
  'ko': ['생물'],
  'translit': ['saeng-mur'],
  'name': 'living_thing.n.01',
  'definition': 'a living (or once living) entity'},
 {'id': '00004475-n',
  'en': ['being', 'organism'],
  'ko': ['미생물', '생물'],
  'translit': ['mi-saeng-mur', 'saeng-mur'],
  'name': 'organism.n.01',
  'definition': 'a living thing that has (or can develop) the ability to act or function independently'},
 {'id': '00006269-n',
  'en': ['life'],
  'ko': ['생물'],
  'translit': ['saeng-mur'],
  'name': 'life.n.10',
  'definition': 'living things collectively'},
 {'id': '00015388-n',
  'en': ['animate_being', 'brute', 'animal', 'creature', 'fauna', 'beast'],
  'ko': ['미물', '생물', '조수'],
  'translit': ['mi-mur', 'saeng-mur', 'jo-su'],
  'name': 'animal.n.01',
  'definition': 'a living organism characterized by voluntary movement'},
 {'id': '01326291-n',
  'en': ['micro-organism', 'microorganism'],
  'ko': ['미생물'],
  'translit': ['mi-saeng-mur'],
  'name': 'microorganism.n.01',
  'definition': 'any organism of microscopic size'},
 {'id': '01384491-n',
  'en': ['germ', 'bug', 'microbe'],
  'ko': ['미생물'],
  'translit': ['mi-saeng-mur'],
  'name': 'microbe.n.01',
  'definition': 'a minute life form (especially a disease-causing bacterium); the term is not in technical use'},
 {'id': '06037666-n',
  'en': ['biological_science', 'biology'],
  'ko': ['생물학', '생물'],
  'translit': ['saeng-mur-hag', 'saeng-mur'],
  'name': 'biology.n.01',
  'definition': 'the science that studies living organisms'},
 {'id': '06072275-n',
  'en': ['entomology', 'bugology'],
  'ko': ['생물학'],
  'translit': ['saeng-mur-hag'],
  'name': 'entomology.n.01',
  'definition': 'the branch of zoology that studies insects'},
 {'id': '06077648-n',
  'en': ['microbiology'],
  'ko': ['미생물학'],
  'translit': ['mi-saeng-mur-hag'],
  'name': 'microbiology.n.01',
  'definition': 'the branch of biology that studies microorganisms and their effects on humans'},
 {'id': '10260706-n',
  'en': ['life'],
  'ko': ['생명', '생물', '인생'],
  'translit': ['saeng-myeong', 'saeng-mur', 'in-saeng'],
  'name': 'life.n.08',
  'definition': 'a living person'},
 {'id': '11530008-n',
  'en': ['microflora'],
  'ko': ['미생물'],
  'translit': ['mi-saeng-mur'],
  'name': 'microflora.n.01',
  'definition': 'microscopic plants; bacteria are often considered to be microflora'}]

In [34]:
lookups_nor

{'생물': {'animal.n.01',
  'biology.n.01',
  'life.n.08',
  'life.n.10',
  'living_thing.n.01',
  'organism.n.01'},
 '미생물': {'microbe.n.01',
  'microflora.n.01',
  'microorganism.n.01',
  'organism.n.01'},
 '미물': {'animal.n.01'},
 '조수': {'animal.n.01'},
 '생물학': {'biology.n.01', 'entomology.n.01'},
 '미생물학': {'microbiology.n.01'},
 '생명': {'life.n.08'},
 '인생': {'life.n.08'},
 '산성의': {'acid.s.03'},
 '욕심 많은': {'avaricious.s.01'},
 '빠르다': {'agile.s.01'},
 '충분한': {'adequate.a.01'},
 '무서워하다': {'afraid.a.01'},
 '무서워': {'frightened.s.01'},
 '호전': {'aggressive.a.01'},
 '죽었다': {'dead.a.01'},
 '죽다': {'dead.a.01'},
 '알파벳': {'alphabetic.a.02'}}

In [35]:
lookups_tra

{'saeng-mur': {'animal.n.01',
  'biology.n.01',
  'life.n.08',
  'life.n.10',
  'living_thing.n.01',
  'organism.n.01'},
 'mi-saeng-mur': {'microbe.n.01',
  'microflora.n.01',
  'microorganism.n.01',
  'organism.n.01'},
 'mi-mur': {'animal.n.01'},
 'jo-su': {'animal.n.01'},
 'saeng-mur-hag': {'biology.n.01', 'entomology.n.01'},
 'mi-saeng-mur-hag': {'microbiology.n.01'},
 'saeng-myeong': {'life.n.08'},
 'in-saeng': {'life.n.08'},
 'san-seong-eui': {'acid.s.03'},
 'yog-sim manh-eun': {'avaricious.s.01'},
 'bba-reu-da': {'agile.s.01'},
 'cung-bun-han': {'adequate.a.01'},
 'mu-seo-weo-ha-da': {'afraid.a.01'},
 'mu-seo-weo': {'frightened.s.01'},
 'ho-jeon': {'aggressive.a.01'},
 'jug-eoss-da': {'dead.a.01'},
 'jug-da': {'dead.a.01'},
 'ar-pa-bes': {'alphabetic.a.02'}}

In [30]:
import pandas as pd
data_path='/pi/ai/nltk/data/wikt/wn-wikt-kor.tab'
df = pd.read_csv(data_path, sep='\t')
df.head()

  # Wiktionary        kor http://wiktionary.org/  CC BY-SA
0   00025470-a  kor:lemma                    산성의       NaN
1   00029933-a  kor:lemma                  욕심 많은       NaN
2   00032733-a  kor:lemma                    빠르다       NaN
3   00051045-a  kor:lemma                    충분한       NaN
4   00077645-a  kor:lemma                  무서워하다       NaN

In [31]:
df.head()['http://wiktionary.org/']

0      산성의
1    욕심 많은
2      빠르다
3      충분한
4    무서워하다
Name: http://wiktionary.org/, dtype: object

In [32]:
rows=df[:10]
for index, row in rows.iterrows():
    refid=row['# Wiktionary']
    kw=row['http://wiktionary.org/']
    offset, pos = refid.split('-')
    syn = wn.synset_from_pos_and_offset(pos, int(offset))
    if kw not in lookups_nor:
        lookups_nor[kw]={syn.name()}
        lookups_tra[translits.translit(kw, 'ko')]={syn.name()}
    else:
        lookups_nor[kw].add(syn.name())
        lookups_tra[translits.translit(kw, 'ko')].add(syn.name())

In [33]:
lookups_tra

{'saeng-mur': {'animal.n.01',
  'biology.n.01',
  'life.n.08',
  'life.n.10',
  'living_thing.n.01',
  'organism.n.01'},
 'mi-saeng-mur': {'microbe.n.01',
  'microflora.n.01',
  'microorganism.n.01',
  'organism.n.01'},
 'mi-mur': {'animal.n.01'},
 'jo-su': {'animal.n.01'},
 'saeng-mur-hag': {'biology.n.01', 'entomology.n.01'},
 'mi-saeng-mur-hag': {'microbiology.n.01'},
 'saeng-myeong': {'life.n.08'},
 'in-saeng': {'life.n.08'},
 'san-seong-eui': {'acid.s.03'},
 'yog-sim manh-eun': {'avaricious.s.01'},
 'bba-reu-da': {'agile.s.01'},
 'cung-bun-han': {'adequate.a.01'},
 'mu-seo-weo-ha-da': {'afraid.a.01'},
 'mu-seo-weo': {'frightened.s.01'},
 'ho-jeon': {'aggressive.a.01'},
 'jug-eoss-da': {'dead.a.01'},
 'jug-da': {'dead.a.01'},
 'ar-pa-bes': {'alphabetic.a.02'}}

In [44]:
import json
import io
class SetEncoder(json.JSONEncoder):
    def default(self, obj):
        if isinstance(obj, set):
             return list(obj)
        return json.JSONEncoder.default(self, obj)

output_path='/pi/stack/sagas/conf/synsets'
with io.open(f"{output_path}/ko_nor.json", 'w', encoding="utf-8") as f:
    f.write(json.dumps(lookups_nor, indent=2, ensure_ascii=False,
                       cls=SetEncoder))
with io.open(f"{output_path}/ko_tra.json", 'w', encoding="utf-8") as f:
    f.write(json.dumps(lookups_tra, indent=2, ensure_ascii=False,
                       cls=SetEncoder))

In [46]:
wn.synset('acid.s.03').definition()

'having the characteristics of an acid'

In [5]:
from nltk.corpus import wordnet as wn
wn.synset('acid.s.03').pos()

's'

In [49]:
idx_nor={}
if not idx_nor:
    print('empty')
else:
    print('non-empty')

empty

In [50]:
from sagas.ko.kwn_procs import kwn
kwn.get_synsets('필요')

[Synset('necessary.a.01'), Synset('want.v.02'), Synset('need.n.02')]

In [4]:
from sagas.nlu.omw_extended import get_synsets
sets=get_synsets('ko', '필요', '*')
sets

[Synset('necessary.a.01'), Synset('want.v.02'), Synset('need.n.02')]

In [3]:
from sagas.nlu.omw_extended import get_synsets
sets=get_synsets('ko', '필요', 'v')
sets

[Synset('want.v.02')]