In [2]:
import pyarrow as pa

data = [
    pa.array([1, 2, 3, 4]),
    pa.array(['foo', 'bar', 'baz', None]),
    pa.array([True, None, False, True])
]
batch = pa.RecordBatch.from_arrays(data, ['f0', 'f1', 'f2'])

batches = [batch] * 5
table = pa.Table.from_batches(batches)
print(table, table.num_rows, table.num_columns)

pyarrow.Table
f0: int64
f1: string
f2: bool 20 3

In [3]:
# pyarrow.concat_tables如果模式相同，也可以将多个表连接在一起以形成单个表 ：
tables = [table] * 2
table_all = pa.concat_tables(tables)
print(table_all.num_rows)

df_new = table_all.to_pandas()
df_new.head()

40

   f0    f1     f2
0   1   foo   True
1   2   bar   None
2   3   baz  False
3   4  None   True
4   1   foo   True

In [5]:
import pyarrow as pa
import pandas as pd

df = pd.DataFrame({"a": [1, 2, 3]})
# Convert from pandas to Arrow
table = pa.Table.from_pandas(df)
# Convert back to pandas
df_new = table.to_pandas()

# Infer Arrow schema from pandas
schema = pa.Schema.from_pandas(df)
print(schema)

a: int64
__index_level_0__: int64
metadata
--------
OrderedDict([(b'pandas',
              b'{"index_columns": ["__index_level_0__"], "column_indexes": ['
              b'{"name": null, "field_name": null, "pandas_type": "unicode",'
              b' "numpy_type": "object", "metadata": {"encoding": "UTF-8"}}]'
              b', "columns": [{"name": "a", "field_name": "a", "pandas_type"'
              b': "int64", "numpy_type": "int64", "metadata": null}, {"name"'
              b': null, "field_name": "__index_level_0__", "pandas_type": "i'
              b'nt64", "numpy_type": "int64", "metadata": null}], "pandas_ve'
              b'rsion": "0.22.0"}')])

In [6]:
from datetime import date
s = pd.Series([date(2018, 12, 31), None, date(2000, 1, 1)])
s

0    2018-12-31
1          None
2    2000-01-01
dtype: object

In [7]:
arr = pa.array(s, type='date64')
print(arr.type)
arr.to_pandas()

date64[ms]

array([datetime.date(2018, 12, 31), None, datetime.date(2000, 1, 1)],
      dtype=object)

In [8]:
s2 = pd.Series(arr.to_pandas(date_as_object=False))
s2.dtype

dtype('<M8[ns]')

from pyarrow import csv
fn = 'tips.csv.gz'
table = csv.read_csv(fn)
table