In [5]:
import sagas
# $ python -m sagas.nlu.google_translator translate 'spend' ar en True
verbs=[['verb', ['أنفق', 'أمضى', 'قضى', 'بذل', 'بذر', 'نهك', 'بدد', 'استعمل', 'استخدم', 'أنفق الثروة', 'ضنى'], [['أنفق', ['spend', 'outlay', 'expend', 'disburse', 'exhaust', 'lay out'], None, 0.034756977], ['أمضى', ['spend'], None, 0.0009706933], ['قضى', ['spend', 'ordain', 'pay', 'settle', 'preordain', 'predestine'], None, 0.0006991642], ['بذل', ['do', 'exert', 'spend', 'extend'], None, 0.0005617942], ['بذر', ['sow', 'inseminate', 'waste', 'fritter', 'disseminate', 'spend'], None, 1.922354e-05], ['نهك', ['macerate', 'overdo', 'wear', 'harass', 'overstrain', 'spend'], None, 1.922354e-05], ['بدد', ['dawdle', 'waste', 'scatter', 'disperse', 'dissipate', 'spend'], None, 1.922354e-05], ['استعمل', ['use', 'employ', 'ply', 'spend', 'bestow', 'anticipate'], None, 1.922354e-05], ['استخدم', ['use', 'utilize', 'employ', 'harness', 'exercise', 'spend'], None, 1.922354e-05], ['أنفق الثروة', ['spend'], None, 1.922354e-05], ['ضنى', ['tucker', 'spend', 'tire', 'languish', 'exhaust'], None, 1.922354e-05]], 'spend', 2]]
# sagas.to_df(verbs)
verbs[0]

['verb',
 ['أنفق',
  'أمضى',
  'قضى',
  'بذل',
  'بذر',
  'نهك',
  'بدد',
  'استعمل',
  'استخدم',
  'أنفق الثروة',
  'ضنى'],
 [['أنفق',
   ['spend', 'outlay', 'expend', 'disburse', 'exhaust', 'lay out'],
   None,
   0.034756977],
  ['أمضى', ['spend'], None, 0.0009706933],
  ['قضى',
   ['spend', 'ordain', 'pay', 'settle', 'preordain', 'predestine'],
   None,
   0.0006991642],
  ['بذل', ['do', 'exert', 'spend', 'extend'], None, 0.0005617942],
  ['بذر',
   ['sow', 'inseminate', 'waste', 'fritter', 'disseminate', 'spend'],
   None,
   1.922354e-05],
  ['نهك',
   ['macerate', 'overdo', 'wear', 'harass', 'overstrain', 'spend'],
   None,
   1.922354e-05],
  ['بدد',
   ['dawdle', 'waste', 'scatter', 'disperse', 'dissipate', 'spend'],
   None,
   1.922354e-05],
  ['استعمل',
   ['use', 'employ', 'ply', 'spend', 'bestow', 'anticipate'],
   None,
   1.922354e-05],
  ['استخدم',
   ['use', 'utilize', 'employ', 'harness', 'exercise', 'spend'],
   None,
   1.922354e-05],
  ['أنفق الثروة', ['spend'], None, 1.922354e-05],
  ['ضنى',
   ['tucker', 'spend', 'tire', 'languish', 'exhaust'],
   None,
   1.922354e-05]],
 'spend',
 2]

In [8]:
sagas.to_df(verbs[0][2], ['word', 'translations', 'c','freq'])

,word,translations,c,freq
0,أنفق,"[spend, outlay, expend, disburse, exhaust, lay...",None,0.034757
1,أمضى,[spend],None,0.000971
2,قضى,"[spend, ordain, pay, settle, preordain, predes...",None,0.000699
3,بذل,"[do, exert, spend, extend]",None,0.000562
4,بذر,"[sow, inseminate, waste, fritter, disseminate,...",None,0.000019
5,نهك,"[macerate, overdo, wear, harass, overstrain, s...",None,0.000019
6,بدد,"[dawdle, waste, scatter, disperse, dissipate, ...",None,0.000019
7,استعمل,"[use, employ, ply, spend, bestow, anticipate]",None,0.000019
8,استخدم,"[use, utilize, employ, harness, exercise, spend]",None,0.000019
9,أنفق الثروة,[spend],None,0.000019
10,ضنى,"[tucker, spend, tire, languish, exhaust]",None,0.000019

In [11]:
# $ python -m sagas.nlu.google_translator translate 'city' ar en True
nouns=[['noun', ['مدينة', 'سكان المدينة'], [['مدينة', ['city', 'town', 'metropolis'], None, 0.38553435], ['سكان المدينة', ['townspeople', 'city', 'townsfolk'], None, 4.4696069e-05]], 'city', 1]]
nouns[0]

['noun',
 ['مدينة', 'سكان المدينة'],
 [['مدينة', ['city', 'town', 'metropolis'], None, 0.38553435],
  ['سكان المدينة', ['townspeople', 'city', 'townsfolk'], None, 4.4696069e-05]],
 'city',
 1]

In [12]:
df=sagas.to_df(nouns[0][2], ['word', 'translations', 'c','freq'])
df.style

In [15]:
def color_negative_red(val):
    """
    Takes a scalar and returns a string with
    the css property `'color: red'` for negative
    strings, black otherwise.
    """
    color = 'red' if val < 0.1 else 'black'
    return 'color: %s' % color
s = df.style.applymap(color_negative_red, subset=['freq'])
s

In [31]:
# Set CSS properties for th elements in dataframe
th_props = [
  ('font-size', '20px'),
  ('text-align', 'center'),
  ('font-weight', 'bold'),
  ('color', '#6d6d6d'),
  ('background-color', '#f7f7f9')
  ]

# Set CSS properties for td elements in dataframe
td_props = [
  ('font-size', '16px'),
  ('max-width', '280px')
  ]

# Set table styles
# ⊕ [Styling — pandas 0.24.2 documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html#Fun-stuff)
styles = [
    dict(selector="th", props=th_props),
    dict(selector="td", props=td_props),
    dict(selector="tr:hover td:hover",
                 props=[('max-width', '200px'),
                        ('font-size', '20pt')])
  ]
df.style.applymap(color_negative_red, subset=['freq']).set_table_styles(styles)

In [38]:
import time
from sagas.nlu.nlu_tools import NluTools
from sagas.nlu.google_translator import translate

def marks(t, lead=True):
    if len(t)>0:
        if lead:
            return ','+' '.join(t)[1:]
        else:
            return ' '.join(t)[1:]
    return ''
def process_df(source, target, text, ips_idx=0):
    import sagas
    rs=[]
    options=set(['get_pronounce'])
    # options.add('get_pronounce')
    res,t = translate(text, source=source, target=target,
                      trans_verbose=False, options=options)
    # print(res, text, t[ips_idx])
    print('✁', '%s(%s %s)'%(text, res, ''.join(t)))
    for sent in text.split(' '):
        res,t = translate(sent, source=source, target=target,
                          trans_verbose=False, options=options)
        # print(res, sent, t[ips_idx])
        print('%s(%s%s)'%(sent,res,marks(t)), end =" ")
        rs.append((sent,res,marks(t,False)))
        time.sleep(0.05)
    print('.')
    return sagas.to_df(rs, ['word', 'trans', 'ips']).style.set_table_styles(styles)
process_df('ar', 'en', 'لدي اثنين من الثلاجات')

✁ لدي اثنين من الثلاجات(I have two refrigerators ❣ ladaya athnyn min althalajat)
لدي(I have, ladaya) اثنين(Two, athnyn) من(From, min) الثلاجات(Refrigerators, althalajat) .

In [42]:
size=6
listOfStrings = ['ext_'+str(i) for i in range(size)]
print(listOfStrings)
listOfStrings[0:4]=['1','2','3','4']
print(listOfStrings)

['ext_0', 'ext_1', 'ext_2', 'ext_3', 'ext_4', 'ext_5']
['1', '2', '3', '4', 'ext_4', 'ext_5']